<div class="navbar navbar-default navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
<!--       <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <a href="/" class="navbar-brand logo"><em>TimeLog</em><span style="margin: 0 15px" class="glyphicon glyphicon-time"></span>how do you spend your time?</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/Dave')}"><a href="/{{'Dave'}}">Account</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="/login">Log Out</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
      </ul>
    </div>
  </div>
</div>
