<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  Time Log
</header>

<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-lg-6">

      <div>{{data.log[0].date | date:'MMMM dd, yyyy'}}</div>
      <div>{{data.log[0].date + 1 | date:'MMMM dd, yyyy'}}</div>
      <form ng-submit="updateAllActivity()" ng-model="data.log[0]">
        <button type="submit">Update All</button>
      </form> 
      <select ng-model= "groupSelect" ng-options="option for option in data.categories"></select>
      <table class="table">
        <tr ng-repeat="timeSection in data.log[0].entry">
          <td>{{timeConverter(timeSection.time)}}</td>
          <td>
            <div ng-show="!showInput">
              <div ng-click="showInput = true">
                {{timeSection.activity}}
              </div>
              <input type="checkbox" ng-model="timeSection.groupChange"> </input>
            </div>
            <form ng-submit="updateActivity()" ng-show="showInput">
              <select ng-model="timeSection.activity" ng-options="option for option in data.categories"></select>
            </form>
          </td>
        </tr>  
      </table>
    </div>
    <div class="col-lg-6">
      <select ng-model="chart.type" ng-options="option.value as option.name for option in chart.typeOptions"></select>
      <div data-ac-chart="chart.type" data-ac-data="chart.data" data-ac-config="chart.config" class="chart"></div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p><a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
