<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="row date-nav-container">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 date-nav">
      <a href="#" ng-click="createNewEntry(logDate.prev)" class="nav-link"><span class="glyphicon glyphicon-chevron-left"></span> {{logDate.prev | date:'MMM dd'}}</a>
    </div>
    <div class="col-lg-4 date-nav"><strong>{{log.date | date:'MMMM dd, yyyy'}}</strong></div>
    <div class="col-lg-2 date-nav">
      <a href="#" ng-click="createNewEntry(logDate.next)" class="nav-link">{{logDate.next | date:'MMM dd'}} <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="col-lg-2"></div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row options-row">
        <div class="col-lg-3"></div>
        <div class="col-lg-5">
          <select ng-model= "groupSelect" ng-options="option for option in user.categories"  class="form-control"></select>
        </div>
        <div class="col-lg-4">
          <form ng-submit="updateAllActivity()" ng-model="data.log[0]">
            <button type="submit" class="btn btn-primary pull-right">Update All</button>
          </form>
        </div>
      </div>
      <table class="table table-hover">
        <tr ng-repeat="timeSection in log.entry" ng-class="{selected: timeSection.groupChange === true}">
          <td class="col-lg-3">{{timeConverter(timeSection.time)}}</td>
          <td class="col-lg-9 activity-column" ng-click="timeSection.groupChange = !timeSection.groupChange">
            <div ng-show="!showInput">
              <div ng-click="showInput = true" class="pull-left">
                {{timeSection.activity}}
              </div>
              <input type="checkbox" class="pull-right checkbox" ng-model="timeSection.groupChange"> </input>
            </div>
            <form ng-submit="updateActivity()" ng-show="showInput" class="activity-column">
              <select ng-model="timeSection.activity" ng-options="option for option in user.categories"></select>
            </form>
          </td>
        </tr>  
      </table>
    </div>
    <div class="col-lg-6">
      <div class="row options-row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
          <select ng-model="chart.type" ng-options="option.value as option.name for option in chart.typeOptions" class="form-control"></select>
        </div>
      </div>
      <div data-ac-chart="chart.type" data-ac-data="chart.data" data-ac-config="chart.config" class="chart"></div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      Time Log
  </div>
</footer>
