<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="row date-nav-container">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 date-nav">
    </div>
    <div class="col-lg-4 date-nav index-nav">{{user.name}}'s TimeLog</div>
    <div class="col-lg-2 date-nav">
    </div>
    <div class="col-lg-2"></div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="row" style="margin-top: 10px">
        <div class="col-xs-12">
          <button class="btn btn-primary pull-right" ng-click="createTodayEntry()">  
            <span class="glyphicon glyphicon-plus" style="margin-right: 10px"></span>Today
          </button>
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-12">
          <h3 style="margin: 0px">
            <em>TimeLog</em> History
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-hover">
            <tr ng-repeat="log in logs | orderBy:'-date'" ng-class="{selected: timeSection.groupChange === true}">
              <td class="col-xs-12" ng-click="viewLog(log)">
                {{log.date | date: 'MMMM d, yyyy'}}
              </td>
            </tr>  
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <em>TimeLog</em><span style="margin: 0 5px" class="glyphicon glyphicon-time"></span>How do you spend your time?
  </div>
</footer>
